@login-margin: 3rem;
@none-border: none;
@list-height: 80px;
@list-icon-font:30px;
@list-font: 10px;
@red: #fd6960;
@deepred: #da2436;
@blue: #2356a2;
@lightblue: #49afcc;
@yellow: #f9a830;
@green: #28b878;
@black: #000;
@white: #fff;
@margin-right10: 10px;
@sidebar-font-size: 15px;
@base-font-size: 13px;
@body-color: #666;
@big-radius: 7px;
@small-radius: 3px;
.black{
  background-color: @black;
}

/*修改框架样式 登录界面*/
html body{
  min-width: 1024px;
  padding-top: 0px;
}
#silebar .sidebar-ul li{
  font-size: 15px;
}
.widget-content ul{
  overflow: hidden;
}
#search {
  position: absolute;
  z-index: 25;
  top: 42px;
  right: 10px;
}
body {
  overflow-x: hidden;
  margin-top: -10px;
  font-family: Arial,'Microsoft YaHei','Open Sans', sans-serif;
  font-size: @base-font-size;
  color: @body-color;
}

ul li{
  list-style: none;
}
input, button, select, textarea {
  font-family: Arial,"Microsoft YaHei", Helvetica, Arial, sans-serif;
}
#content{
  font-size: 13px !important;
  min-width: 804px;

}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, .label, .dropdown-menu, .btn, .well, .progress, .table-bordered, .btn-group > .btn:first-child, .btn-group > .btn:last-child, .btn-group > .btn:last-child, .btn-group > .dropdown-toggle, .alert {
  border-radius: 3px;
  font-size: 13px;
}
label, input, button, select, textarea {
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
}
#loginbox .controls {
  padding: 0 5%;
}
#loginbox {
  overflow: hidden !important;
  text-align: left;
  position: relative;
  top: 100px;
}
#loginbox .main_input_box .add-on {
  padding: 9px 9px;
  color: #fff;
  width: 10%;
  display: inline-block;
}
#loginbox .main_input_box input {
  height: 30px;
  border: 0px;
  display: inline-block;
  width: 80%;
  line-height: 28px;
  margin-bottom: 3px;
}
#loginbox .form-actions {
  padding: 14px 5% 15px;
}
.pull{
  color: #ffffff;
}
.form-actions .pull-left{
  &:extend(.pull);
}
.form-actions .pull-right{
  &:extend(.pull);
}
.btn-forget{
  background-color: #00a7cd;
}
.btn-login{
  background-color: #36af52;
}

.header-img{
  height: 30px;
  left: 35px;
  overflow: hidden;
  position: relative;
  top: 23.5px;
  width: 150px;
  margin: auto auto;
}
.header-h1 {
  display: block;
  width: 151px;
  line-height: 50px;
  margin-left: 20px;
  font-weight: 900;
  font-size: 120%;;
}
.content-label{
  margin-left: 200px;
  padding: 10px 0;
}

.form-horizontal .control-label {
  padding-top: 15px;
  width: 100px;
}
.control-label-right {
  padding-top: 15px;
  width: 70px;
}
.form-horizontal .control-label-3 {
  padding-top: 15px;
  width: 60px;
}
.form-horizontal .controls {
  margin-left: 120px;
  padding: 10px 0;
}
.controls-x3 {
  display: inline;
  margin-left: 1.2%;
  margin-ritht: 2px;
  padding: 10px 0;
}
.controls-x1{
  display: inline;
  margin-right: 2px;
  padding: 10px 0;
}
.count {
  font-size: 120%;
  line-height: 40px;
  margin-left: 30px;
}
.client-add-save {
  float: right;
  margin: 10px 16px;
}

/*index*/
.chart-name{
  position: absolute;
  width: 25px;
  height: 8px;
  border: 2px solid #ffffff;
  top: 50px;
}
.icon-right{
  position: absolute;
  top: 14px;
  right: 5px;
}
.chart-name1{
  &:extend(.chart-name);
  left: 40px;
  background-color: @red;
}
.chart-name2{
  &:extend(.chart-name);
  left: 240px;
  background-color: #0000ff;
}
.chart-text{
  position: absolute;
  top: 46px;
}
.chart-text1{
  &:extend(.chart-text);
  left: 70px;
}
.chart-text2{
  &:extend(.chart-text);
  left: 270px;
}
#sidebar > ul > li {
  border-top: 1px solid #37414b;
  border-bottom: 1px solid #1f262d;
  line-height: 37.8px;
}
.quick-width1 {
  width: 14%;
}
.quick-width2{
  width: 26%;
}
#sidebar > ul li ul li {
  border-top: 1px solid #37414b;
  border-bottom: 1px solid #1f262d;
  line-height: 37.8px;
}
#sidebar > ul li ul li a {
  padding: 10px 0 10px 50px;
  display: block;
  color: #777777;
}

/*client-modification*/
.inline-lable{
  display: inline;
}
.show-linenum{
  margin: 5px;
}
.center{
  margin: 0 auto;
}
/*client-add*/
.userinfo-right{
  margin-left: 120px;
  margin-top: 15px;
}
/*login*/
.login-img {
  width: 15rem;
  height: 1.5rem;
  margin: 0;
  padding: 0;
}
.login-title{
  margin-top: @login-margin;
  width: 50%;
  margin: 0 auto;
}
.title {
  font-size: 180%;
  font-weight: 700;
  color: #8f9dab;
  padding: 0;
  margin: 0;
}
.form-actions .pull-left{
  border: 2px solid #325e6c;
}
.form-actions .pull-right{
  border: 2px solid #2a4c44;
}
/*自定义全局样式*/
.mgl10{
  margin-left: 10px;
}
.mgr10{
  margin-right: 10px;
}
.mgt10{
  margin-top: 10px;
}
.mgt3{
  margin-top: 3px;
}
.mgl3{
  margin-left: 3px;
}
.width10{
  display: inline;
  width: 10%;
}
.width13{
  display: inline;
  width: 13%;
}
.width15{
  display: inline;
  width: 15%;
}
.width20{
  display: inline;
  width: 20%;
}
.width22{
  display: inline;
  width: 22%;
}
.width25{
  display: inline;
  width: 25%;
}
.width55{
  display: inline;
  width: 55%;
}
.width60{
  display: inline;
  width: 60%;
}
#search button {
  border: 0;
  margin-left: -7px;
  margin-top: -11px;
  padding: 5px 10px 4px;
}
#search input[type=text] {
  background-color: @white;
  color: @black;
}
.table-label {
  position: absolute;
  left: 170px;
  top: 42px;
  width: 250px;
  height: 24px;
  text-align: center;
  background-color: #41bed3;
  border-radius: 3px;
  padding-top: 4px;
  margin-top: 3px;
  color: @white;
}
.select-num{
  margin-top: 3px;
}

/*颜色定义*/
.c-white{
  &:extend(.c-all);
  background-color: @white;
  border: 1px solid #ababab;
}

.c-dblue{
  &:extend(.c-all);
  background-color: #2356a2;
  border: 1px solid #2356a2;

}
.c-red{
  &:extend(.c-all);
  background-color: @red;
  border: 1px solid #fd6960;
}
.c-yellow{
  &:extend(.c-all);
  background-color: @yellow;
  border: 1px solid #f9a830;
}
.c-green{
  &:extend(.c-all);
  background-color: @green;
  border: 1px solid #28b878;
}
.c-lblue{
  &:extend(.c-all);
  background-color: @lightblue;
  border: 1px solid #49afcc;
}
.c-dred{
  &:extend(.c-all);
  background-color: @deepred;
  border: 1px solid #da2436;
}

.table td {
  text-align: center;
}
td.alt {
  background-color: #ffc;
  background-color: rgba(255, 255, 0, 0.2);
}
/*
重新定义表格显示列的位置*/
.dataTables_length {
  color: #878787;
  margin: 7px 5px 0;
  position: relative;
  left: 200px;
  width: 50%;
  top: -43px;
}
.dataTables_length select{
  width: 100px;
}
.nopadding .table-bordered {
  border: 0;
  margin-top: -40px;
}
/*span的第二个元素*/
.span12 + .span12{
  margin-left: 0;
}
.span6 .span12{
  margin-left: 0;
}
/*对bootstrap的table的左右框架做修改*/
.fix-table{
  border: @none-border;
}
.fixed-table-pagination .pull-left {
  &:extend(.fix-table);
  color: @black;
}
.fixed-table-pagination .pull-right {
  &:extend(.fix-table);
}
.fixed-table-toolbar .pull-left{
  &:extend(.fix-table);
}
.fixed-table-toolbar .pull-right{
  &:extend(.fix-table);
}
.bootstrap-table .fixed-table-toolbar .bars{
  height: inherit;
  max-width: 100%;
}
/*销售线索的全局搜索按钮*/
.sale-search {
  position: absolute;
  right: 20px;
  top: 10px;
  width: 8%;
  height: 52px;
  color: @white;
  background-color: @black;
  text-align: center;
  line-height: 52px;
}
hr {
  margin-top: 0px;
  margin-bottom: 20px;
  margin-bottom: inherit;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid @white;
}
/*.widget-content {
   margin-top: 10px;
 }*/
/*销售头部*/
/*.s-header{
  height：
}*/
.d-col2{
  height: 50px;
  text-align: center;
  line-height: 45px;
}
.head-top .margin10{
  display: inline;
  margin-bottom: 10px;
}
.widget-box {
  background: none repeat scroll 0 0 #F9F9F9;
  border-left: 1px solid #CDCDCD;
  border-top: 1px solid #CDCDCD;
  border-right: 1px solid #CDCDCD;
  clear: both;
  margin-top: 16px;
  margin-bottom: 16px;
  position: relative;
  height: inherit;
}
/*客情资料*/
/*.activity-list */
.gf{
  width: 12%;
  margin: 4px 5px;
  float: left;
  text-align: center;
}
.gf13 {
  display: inline;
  width: 13%;
  margin: 4px 5px;
  float: left;
  text-align: center;
}

.birth-list{
  font-size: @list-font;
  text-align: center;
  line-height: inherit;
}
.list-top{
  &:extend(.birth-list);
  height: @list-height;
  color: #d8504b;
}
.list-top span{
  color: @black;
}
.list-bottom span{
  color: @black;
}
.list-bottom{
  &:extend(.birth-list);
  height: @list-height;
  color: #f6aa2d;
}
.list-icon{
  font-size: @list-icon-font;
  margin-right: @margin-right10;
}
.list-top .icon{
  &:extend(.list-icon);
}
.list-bottom .icon{
  &:extend(.list-icon);
}
.list-top h1{
  color: @red ;
}
.list-bottom h1{
  color: @blue;
}
.festival{
  float: left;
  margin-right: 20px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 18px;
}
.state{
  display: inline;
  float: left;
  margin-right: 5px;
  font-size: 13px;
}
.stateline1{
  &:extend(.state);
}
.stateline2{
  &:extend(.state);
}
.stateline3{
  &:extend(.state);
}
.stateline4{
  &:extend(.state);
}
/*节日提醒*/
.differ-day{
  font-size: @base-font-size;
  line-height: inherit;
}
.list-top span{
  line-height: 40px;
}
.list-bottom span{
  line-height: 40px;
}
.font-weight{
  font-weight: 700;
  font-size: 17.5px;
}
.client-information-line{

}
.line8(@color){
  border-radius: @big-radius;
  background-color: @color;
  text-align: center;
}
.today{
  .line8(@red);
}
.yesterday{
  .line8(@yellow);
}
.byesterday{
  .line8(@green);
}
.other-day{
  .line8(@lightblue);
}
/*
.alter{
  text-align: center;
}
*/
.span4 .span12{
  margin: 0px;
}
.normal-font{
  float: left;
  margin-top: 14px;
}
.list-top .differ-day{
  color: @red;
}
.list-bottom .differ-day{
   color: @blue;
 }
.list-bottom .festival{
   color: @blue;
 }
/*决绝模态框父元素为撑开的bug*/
/*.widget-content{
  overflow: hidden;
}*/
.control-group{
  overflow: hidden;
}
/*模态框的定义*/
.modal .control-group .span3{
  padding-left: 30px;
}
/*中等宽度进度条*/
.progress-middle{
    height: 12px;
}
/*搜索中input的样式*/
.h-input{
  margin: 0 auto;
  width: 99%;
  padding: 0px;
  height: 21px;
}

/*顶部查询模块*/
.search-top{
  height: 90px;
}
.head-top, .head-bottom{
  width: 90%;
  margin-right: 1%;
}
.head-top{
  position: absolute;
/*  left: 12%;*/
  top: 10px;
}
.head-bottom{
  position: absolute;
/*  left: 12%;*/
  top: 50px;
}
.c-all{
  color: @white;
  font-size: 12px;
  text-align: center;
}

.c-header{
  height: 30px;
  margin-right: 1%;
  float: left;
  text-align: center;
  line-height: 30px;
}
.s-part4{
  width: 24%;
  float: left;
}
.s-part4 .s-label{
  width: 35%;
}
.s-part4 .s-input{
  margin: 0 auto;
  padding: 0;
  width: 55%;
  margin-left: 3%;
  padding-left: 3%;
  height: 21px;
}
/*内容顶部导航的样式*/
.t-menu li a{
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  line-height: 70px;
}
/*限制index页面的顶部导航标签的高度*/
.quick-actions_homepage .quick-actions li a{
  min-height: 76px;
}
.statistic{
  line-height: 36px;
  margin-right: 10px;
}
.table-top-select{
  margin-top: 3px;
  margin-left: 3px;
  width: 10%;
}
.reminder{
  position: absolute;
  margin: 10px 30px;
  padding: 0 10px;
  line-height: 30px;
  background-color: @blue;
  color: white;
}
.controls-x1 .span30{
  display: inline;
  float: left;
  width: 30%;
}
.controls-x3 .span30{
  display: inline;
  float: left;
  width: 30%;
}
.money-sum{
  margin-right: 10px;
  line-height: 36px;
}
.mg-right30{
  margin-right: 30px;
}
.gg-label{
  display: inline;
}
/*
项目设置页面*/
.search button {
  border: 0;
  margin-left: -8px;
  margin-top: -11px;
  padding: 7px 10px 4px;
}
/*角色权限设置页面*/
.permission-add{
  margin-top: 18px;
}

.permission-add label{
  display: inline;
}
.permission-add .permission-input{
  width: 40%;
}
.permission-add [type="button"]{
  margin-top: -10px;
}

.permission-content .control-label{
  background-color: blue;
  color: white;
  margin-top: 15px;
  margin-left: 10px;
  text-align: center;
  line-height: 20px;
  padding: 4px 0;
}
/*
修改全局样式*/
.row-fluid .span4 {
  width: 31.499999617021278%;
}
.t-menu li a {
  padding: 10px 10px;
}

.t-menu li{
  min-width:15%;
}
/*
媒体查询*/
@media (min-width: 1200px) {
  .quick-actions li {
    min-width: 19%;
    min-height: 70px;
  }
  .t-menu li{
    min-width:15%;
  }
  .permission-add .permission-input{
    width: 50%;
  }
  .controls-x3 {
    display: inline;
    margin-left: 1.8%;
    margin-ritht: 2px;
    padding: 10px 0;
  }
}

/*账号管理模块*/
.controls label{
  margin-top: 5px;
}
/*
解决账号管理不显示的问题*/
#content-header {
  position: absolute;
  width: 100%;
  margin-top: -36px;
  z-index: 1;
}
