---
tip-bottom: 开户注册
current: 账号资料
---

<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 主页看板</a> <a href="#" class="tip-bottom">开户注册</a> <a href="#" class="current">新增用户</a> </div>
        <!--<h1>新增用户</h1>-->
    </div>
    <div class="container-fluid">
        <hr>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>账号注册</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form action="#" class="form-horizontal">

                            <div class="control-group">
                                <div class="span8">
                                    <label for="normal" class="control-label">账号角色: </label>
                                    <div class="controls">
                                        <label for="">代理商</label>
                                    </div>
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="span8">
                                    <label for="normal" class="control-label">服务区域: </label>
                                    <div class="controls">
                                        <label for="">广东省 全部 市 全部 区/县</label>
                                    </div>
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="span8">
                                    <label for="normal" class="control-label">公司名称: </label>
                                    <div class="controls">
                                        <label for="">广州俊雅美容美发用品有限公司</label>
                                    </div>
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="span8">
                                    <label for="normal" class="control-label">公司地址: </label>
                                    <div class="controls">
                                        <label for="">广州俊雅美容美发用品有限公司</label>
                                    </div>
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="span8">
                                    <label for="normal" class="control-label">注册名称: </label>
                                    <div class="controls">
                                        <label for="">张大海</label>
                                    </div>
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="span8">
                                    <label for="normal" class="control-label">身份证号: </label>
                                    <div class="controls">
                                        <label for="">420111198911100022</label>
                                    </div>
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="span8">
                                    <label for="normal" class="control-label">联系电话: </label>
                                    <div class="controls">
                                        <label for="">13622223888</label>
                                    </div>
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="span8">
                                    <label for="normal" class="control-label">用户账号: </label>
                                    <div class="controls">
                                        <label for="">13622223888</label>
                                    </div>
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="span8">
                                    <label for="normal" class="control-label">账号密码: </label>
                                    <div class="controls">
                                        <label for="">******
                                            <button class="btn btn-success mgl10" type="submit" style="margin-left: 30%;">修改密码</button>

                                        </label>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div></div>

