<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 主页看板</a> <a href="#" class="tip-bottom">开户注册</a> <a href="#" class="current">新增用户</a> </div>
        <h1>新增用户</h1>
    </div>
    <div class="container-fluid">
        <hr>
        <div class="row-fluid">
            <div class="span6">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>分店注册</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form action="#" class="form-horizontal">
                            <div class="control-group">
                                <div class="span6">
                                    <label for="normal" class="control-label">手机识别码: </label>
                                    <div class="controls">
                                        <input type="text" class="span11"/>
                                    </div>
                                </div>
                                <div class="span6">
                                    <label for="normal" class="control-label">店铺品牌: </label>
                                    <div class="controls">
                                        <!--<input type="text" class="span3"/>-->
                                        <select name="" id="" class="span11">
                                            <option value="大宝">大宝</option>
                                            <option value="戴尔">戴尔</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="control-group">
                                <label for="normal" class="control-label">公司名称: </label>
                                <div class="controls">
                                    <input type="text" class="span11"/>
                                </div>
                            </div>

                            <div class="control-group">
                                <label for="normal" class="control-label">选择区域</label>
                                <div class="controls">
                                    <div class="controls-x1">
                                        <select class="span2">
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    省
                                    <div class="controls-x3">
                                        <select class="span2">
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    市
                                    <div class="controls-x3">
                                        <select class="span2">
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    区
                                </div>
                            </div>

                            <div class="control-group">
                                <label for="normal" class="control-label">公司/店铺名称: </label>
                                <div class="controls">
                                    <input type="text" class="span11"/>
                                </div>

                            </div>

                            <div class="control-group">
                                <label for="normal" class="control-label">店铺品牌: </label>
                                <div class="controls">
                                    <input type="text" class="span2"/>
                                    <input type="text" class="span2"/>
                                    <input type="text" class="span2"/>
                                    <input type="text" class="span2"/>
                                </div>
                            </div>

                            <div class="control-group">
                                <label for="normal" class="control-label">负责人姓名</label>
                                <div class="controls">
                                    <div class="controls-x1">
                                        <input type="text" class="span2"/>
                                    </div>
                                    职位
                                    <div class="controls-x3">
                                        <select class="span2">
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    手机号
                                    <div class="controls-x3">
                                        <input type="text" class="span2"/>
                                    </div>
                                </div>
                            </div>



                            <div class="control-group">
                                <label for="normal" class="control-label">机构识别码: </label>
                                <div class="controls">
                                    <input type="text" class="span11"/>
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="span6">
                                    <label for="normal" class="control-label">主账号: </label>
                                    <div class="controls">
                                        <input type="text" class="span11"/>
                                    </div>
                                </div>
                                <div class="span6">
                                    <label for="normal" class="control-label">账号密码: </label>
                                    <div class="controls">
                                        <input type="text" class="span11"/>
                                    </div>
                                </div>
                            </div>

                            <div class="control-group">
                                <label for="normal" class="control-label">账号期限</label>
                                <div class="controls">
                                    <div class="controls-x1">
                                        <select class="span2">
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    付费状况
                                    <div class="controls-x3">
                                        <select class="span2">
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    金额
                                    <div class="controls-x3">
                                        <input type="text" class="span2"/>
                                    </div>
                                    区
                                </div>
                            </div>

                            <div class="control-group">
                                <button class="btn btn-success client-add-save" type="submit">保存</button>
                            </div>

                        </form>
                    </div>
                </div>

            </div>

            <div class="span6">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>分店注册</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <form action="#" class="form-horizontal">
                            <div class="control-group">
                                <div class="span6">
                                    <label for="normal" class="control-label">手机识别码: </label>
                                    <div class="controls">
                                        <input type="text" class="span11"/>
                                    </div>
                                </div>
                                <div class="span6">
                                    <label for="normal" class="control-label">店铺品牌: </label>
                                    <div class="controls">
                                        <!--<input type="text" class="span3"/>-->
                                        <select name="" id="" class="span11">
                                            <option value="大宝">大宝</option>
                                            <option value="戴尔">戴尔</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="control-group">
                                <label for="normal" class="control-label">选择区域</label>
                                <div class="controls">
                                    <div class="controls-x1">
                                        <select class="span2">
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    省
                                    <div class="controls-x3">
                                        <select class="span2">
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    市
                                    <div class="controls-x3">
                                        <select class="span2">
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    区
                                </div>
                            </div>

                            <div class="control-group">
                                <label for="normal" class="control-label">分店地址: </label>
                                <div class="controls">
                                    <input type="text" class="span11"/>
                                </div>
                            </div>

                            <div class="control-group">
                                <label for="normal" class="control-label">分店名称: </label>
                                <div class="controls">
                                    <input type="text" class="span11"/>
                                </div>
                            </div>

                            <div class="control-group">
                                <label for="normal" class="control-label">负责人姓名</label>
                                <div class="controls">
                                    <div class="controls-x1">
                                        <input type="text" class="span2"/>
                                    </div>
                                    职位
                                    <div class="controls-x3">
                                        <select class="span2">
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    手机号
                                    <div class="controls-x3">
                                        <input type="text" class="span2"/>
                                    </div>
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="span6">
                                    <label for="normal" class="control-label">分店账号: </label>
                                    <div class="controls">
                                        <input type="text" class="span11"/>
                                    </div>
                                </div>
                                <div class="span6">
                                    <label for="normal" class="control-label">账号密码: </label>
                                    <div class="controls">
                                        <input type="text" class="span11"/>
                                    </div>
                                </div>
                            </div>

                            <div class="control-group">
                                <label for="normal" class="control-label">账号期限</label>
                                <div class="controls">
                                    <div class="controls-x1">
                                        <select class="span2">
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    付费状况
                                    <div class="controls-x3">
                                        <select class="span2">
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    金额
                                    <div class="controls-x3">
                                        <input type="text" class="span2"/>
                                    </div>
                                    区
                                </div>
                            </div>

                            <div class="control-group">
                                <button class="btn btn-success client-add-save" type="submit">保存并增加</button>
                            </div>
                            <spam class="count">已增加<span>5</span>家分店</spam>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div></div>
