
<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="index.html" class="tip-bottom" data-original-title="Go to Home">
                <i class="icon-home"></i>首页看板
            </a>
            <a href="#" class="tip-bottom" data-original-title="">客户管理</a>
            <a href="#" class="current">客户互动</a>
        </div>
        <h1>客户管理</h1>
    </div>
    <div class="container-fluid">
        <hr>
        <div class="row-fluid">
            <div class="span8">
                <div class="span12">
                    <div class="widget-box">
                        <div class="widget-title"> <span class="icon"> <i class="icon-list"></i> </span>
                            <h5>客情资讯</h5>
                        </div>
                        <div class="widget-content">
                            <div>
                                <ul ><!--class="activity-list"-->
                                    <li>
                                        <div class="gf">顶尖造型</div>
                                        <div class="gf">16间点</div>
                                        <div class="gf">罗清华</div>
                                        <div class="gf today">今天</div>
                                        <div class="gf"><i  class="icon-pencil" style="font-size: 17px;"></i></div>
                                        <div class="gf">资料完整度</div>
                                        <div class="gf">
                                            <div class="progress">
                                                <div class="bar" style="width: 70%;"></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="gf">顶尖造型</div>
                                        <div class="gf">16间点</div>
                                        <div class="gf">罗清华</div>
                                        <div class="gf yesterday">昨天</div>
                                        <div class="gf"><a href="detail.html"></a><i  class="icon-pencil" style="font-size: 17px;"></i></div>
                                        <div class="gf">资料完整度</div>
                                        <div class="gf">
                                            <div class="progress">
                                                <div class="bar" style="width: 70%;"></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="gf">顶尖造型</div>
                                        <div class="gf">16间点</div>
                                        <div class="gf">罗清华</div>
                                        <div class="gf byesterday">大前天</div>
                                        <div class="gf"><a href="detail.html"></a><i  class="icon-pencil" style="font-size: 17px;"></i></div>
                                        <div class="gf">资料完整度</div>
                                        <div class="gf">
                                            <div class="progress progress-warning">
                                                <div class="bar" style="width: 100%;"></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="gf">顶尖造型</div>
                                        <div class="gf">16间点</div>
                                        <div class="gf">罗清华</div>
                                        <div class="gf other-day">2015-06-06</div>
                                        <div class="gf"><a href="detail.html"></a><i  class="icon-pencil" style="font-size: 17px;"></i></div>
                                        <div class="gf">资料完整度</div>
                                        <div class="gf">
                                            <div class="progress progress-warning">
                                                <div class="bar" style="width: 100%;"></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="gf">顶尖造型</div>
                                        <div class="gf">16间点</div>
                                        <div class="gf">罗清华</div>
                                        <div class="gf other-day">2015-06-05</div>
                                        <div class="gf"><a href="detail.html"></a><i  class="icon-pencil alter" style="font-size: 17px;"></i></div>
                                        <div class="gf">资料完整度</div>
                                        <div class="gf">
                                            <div class="progress progress-warning">
                                                <div class="bar" style="width: 100%;"></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="gf">顶尖造型</div>
                                        <div class="gf">16间点</div>
                                        <div class="gf">罗清华</div>
                                        <div class="gf other-day">2015-06-04</div>
                                        <div class="gf"><a href="detail.html"></a><i  class="icon-pencil" style="font-size: 17px;"></i></div>
                                        <div class="gf">资料完整度</div>
                                        <div class="gf">
                                            <div class="progress progress-warning">
                                                <div class="bar" style="width: 100%;"></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="gf">顶尖造型</div>
                                        <div class="gf">16间点</div>
                                        <div class="gf">罗清华</div>
                                        <div class="gf other-day">2015-06-04</div>
                                        <div class="gf"><a href="detail.html"></a><i  class="icon-pencil" style="font-size: 17px;"></i></div>
                                        <div class="gf">资料完整度</div>
                                        <div class="gf">
                                            <div class="progress progress-warning">
                                                <div class="bar" style="width: 100%;"></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="gf">顶尖造型</div>
                                        <div class="gf">16间点</div>
                                        <div class="gf">罗清华</div>
                                        <div class="gf other-day">2015-06-04</div>
                                        <div class="gf"><a href="detail.html"></a><i  class="icon-pencil" style="font-size: 17px;"></i></div>
                                        <div class="gf">资料完整度</div>
                                        <div class="gf">
                                            <div class="progress progress-warning">
                                                <div class="bar" style="width: 100%;">70</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="gf">顶尖造型</div>
                                        <div class="gf">16间点</div>
                                        <div class="gf">罗清华</div>
                                        <div class="gf other-day">2015-06-04</div>
                                        <div class="gf"><a href="detail.html"></a><i  class="icon-pencil" style="font-size: 17px;"></i></div>
                                        <div class="gf">资料完整度</div>
                                        <div class="gf">
                                            <div class="progress progress-warning">
                                                <div class="bar" style="width: 100%;">70</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="gf">顶尖造型</div>
                                        <div class="gf">16间点</div>
                                        <div class="gf">罗清华</div>
                                        <div class="gf other-day">2015-06-04</div>
                                        <div class="gf"><a href="detail.html"></a><i  class="icon-pencil" style="font-size: 17px;"></i></div>
                                        <div class="gf">资料完整度</div>
                                        <div class="gf">
                                            <div class="progress progress-warning">
                                                <div class="bar" style="width: 100%;">70</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="gf">顶尖造型</div>
                                        <div class="gf">16间点</div>
                                        <div class="gf">罗清华</div>
                                        <div class="gf other-day">2015-06-04</div>
                                        <div class="gf"><a href="detail.html"></a><i  class="icon-pencil" style="font-size: 17px;"></i></div>
                                        <div class="gf">资料完整度</div>
                                        <div class="gf">
                                            <div class="progress progress-warning">
                                                <div class="bar" style="width: 100%;">70</div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span12 span-second-child">
                    <div class="widget-box">
                        <div class="widget-title"> <span class="icon"> <i class="icon-list"></i> </span>
                            <h5>使用状态</h5>
                        </div>
                        <div class="widget-content">
                            <ul>
                                <li>
                                    <div class="gf13">顶尖造型</div>
                                    <div class="gf13">罗湖水贝点</div>
                                    <div class="gf13">当前点击率

                                    </div>
                                    <div class="gf13">
                                        <div class="progress">
                                            <div class="bar" style="width: 70%;"></div>
                                        </div>
                                    </div>
                                    <div class="gf13">平均点击率

                                    </div>
                                    <div class="gf13">
                                        <div class="progress ">
                                            <div class="bar" style="width: 70%;"></div>
                                        </div>
                                    </div>

                                </li>
                                <li>
                                    <div class="gf13">顶尖造型</div>
                                    <div class="gf13">罗湖水贝点</div>
                                    <div class="gf13">当前点击率

                                    </div>
                                    <div class="gf13">
                                        <div class="progress">
                                            <div class="bar" style="width: 70%;"></div>
                                        </div>
                                    </div>
                                    <div class="gf13">平均点击率

                                    </div>
                                    <div class="gf13">
                                        <div class="progress ">
                                            <div class="bar" style="width: 70%;"></div>
                                        </div>
                                    </div>

                                </li>
                                <li>
                                    <div class="gf13">顶尖造型</div>
                                    <div class="gf13">罗湖水贝点</div>
                                    <div class="gf13">当前点击率

                                    </div>
                                    <div class="gf13">
                                        <div class="progress">
                                            <div class="bar" style="width: 70%;"></div>
                                        </div>
                                    </div>
                                    <div class="gf13">平均点击率

                                    </div>
                                    <div class="gf13">
                                        <div class="progress ">
                                            <div class="bar" style="width: 70%;"></div>
                                        </div>
                                    </div>

                                </li>
                                <li>
                                    <div class="gf13">顶尖造型</div>
                                    <div class="gf13">罗湖水贝点</div>
                                    <div class="gf13">当前点击率

                                    </div>
                                    <div class="gf13">
                                        <div class="progress">
                                            <div class="bar" style="width: 70%;"></div>
                                        </div>
                                    </div>
                                    <div class="gf13">平均点击率

                                    </div>
                                    <div class="gf13">
                                        <div class="progress ">
                                            <div class="bar" style="width: 70%;"></div>
                                        </div>
                                    </div>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="span4">
                <div class="span6">
                    <div class="widget-box">
                        <div class="widget-title"> <span class="icon"> <i class="icon-list"></i> </span>
                            <h5>生日提醒</h5>
                        </div>
                        <div class="widget-content">
                            <div class="list-top">
                                <i class="icon icon-gift"></i>
                                <span>3日内生日客户</span>
                            </div>
                            <div class="list-bottom">
                                <i class="icon icon-gift"></i>
                                <span>7日内生日客户</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="widget-box">
                        <div class="widget-title"> <span class="icon"> <i class="icon-list"></i> </span>
                            <h5>节日提醒</h5>
                        </div>
                        <div class="widget-content">
                            <div class="list-top">
                                <!--<h4 class="festival">-->
                                <div class="festival">端午节</div>
                                <div class="normal-font">
                                    <span>还有</span><span class="differ-day">18</span><span>天</span>
                                </div>
                            </div>
                            <div class="list-bottom">
                                <div class="festival">父亲节</div>
                                <div class="normal-font">
                                    <span>还有</span><span class="differ-day">19</span><span>天</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span12">
                    <div class="widget-box">
                        <div class="widget-title"> <span class="icon"> <i class="icon-list"></i> </span>
                            <h5>回访管理</h5>
                        </div>
                        <div class="widget-content">
                            <ul class="unstyled">
                                <li> <span class="icon24 icomoon-icon-arrow-up-2 green"></span> 3天未回访客户 <span class="pull-right strong">567</span>
                                    <div class="progress progress-striped ">
                                        <div style="width: 81%;" class="bar"></div>
                                    </div>
                                </li>
                                <li> <span class="icon24 icomoon-icon-arrow-up-2 green"></span> 7天未回访客户 <span class="pull-right strong">507</span>
                                    <div class="progress progress-success progress-striped ">
                                        <div style="width: 72%;" class="bar"></div>
                                    </div>
                                </li>
                                <li> <span class="icon24 icomoon-icon-arrow-down-2 red"></span> 21天未回访客户 <span class="pull-right strong">457</span>
                                    <div class="progress progress-warning progress-striped ">
                                        <div style="width: 53%;" class="bar"></div>
                                    </div>
                                </li>
                                <li> <span class="icon24 icomoon-icon-arrow-up-2 green"></span> 30天未回访客户 <span class="pull-right strong">8</span>
                                    <div class="progress progress-danger progress-striped ">
                                        <div style="width: 3%;" class="bar"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="span12 span-second-child">
                    <div class="widget-box">
                        <div class="widget-title"> <span class="icon"> <i class="icon-list"></i> </span>
                            <h5>客户期限</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <form class="form-horizontal">
                                <div class="control-group" style="font-size: 20px;font-weight: 800;">
                                    <label class="control-label" style="padding-top: 23px;">30天内到期客户</label>
                                    <div class="controls">
                                        <div class="progress progress-danger progress-striped " style="height: 40px;">
                                            <div style="width: 81%;" class="bar"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">试用期客户</label>
                                    <div class="controls">
                                        <div class="progress progress-striped ">
                                            <div style="width: 81%;" class="bar"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">一年期客户</label>
                                    <div class="controls">
                                        <div class="progress progress-warning progress-striped ">
                                            <div style="width: 81%;" class="bar"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">两年期客户</label>
                                    <div class="controls">
                                        <div class="progress progress-striped ">
                                            <div style="width: 81%;" class="bar"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">100年期客户</label>
                                    <div class="controls">
                                        <div class="progress progress-success progress-striped ">
                                            <div style="width: 81%;" class="bar"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

