<div id="content">
  {{> content-header }}

    <div class="container-fluid">
      <div  class="quick-actions_homepage">
          <ul class="quick-actions">
              <li class="bg_lb span1"> <a href="addedclient.html"> <i class="iconfont icon-user_add"></i> <span class="label label-important">20</span>新增用户 </a> </li>
              <li class="bg_lg span2"> <a href="regrank.html"> <i class="iconfont icon-gengxinpaiming"></i>销售区域排名</a> </li>
              <li class="bg_ly span1"> <a href="persrank.html"> <i class="iconfont icon-jiangpai"></i>个人销售排名</a> </li>
              <li class="bg_lo span1"> <a href="addedchannel.html"> <i class="iconfont icon-qudaoguanli"></i><span class="label label-important">3</span> 新增渠道商 </a> </li>
              <li class="bg_ls span2"> <a href="public_domain.html"> <i class="iconfont icon-dianzan"></i><span class="label label-important">3</span> 客户公海</a> </li>
          </ul>
      </div>

      <!--Chart-box-->

      <div class="row-fluid">
              <div class="widget-box">
                  <div class="widget-title bg_lg"><span class="icon"><i class="icon-signal"></i></span>
                      <h5>本月新增用户数</h5>
                  </div>
                  <div class="widget-content" >
                      <div class="row-fluid">
                          <div class="span9">
                              <div id="addUserChat"></div>
                          </div>
                          <div class="span3">
                              <ul class="site-stats">
                                  <li class="bg_lh"><i class="iconfont icon-yonghu"></i> <strong>2548</strong> <small>总用户数</small></li>
                                  <li class="bg_lh"><i class="iconfont icon-jiahao"></i> <strong>120</strong> <small>新增用户 </small></li>
                                  <li class="bg_lh"><i class="iconfont icon-dian "></i> <strong>960</strong> <small>单店用户</small></li>
                                  <li class="bg_lh"><i class="iconfont icon-lianjie"></i> <strong>1260</strong> <small>连锁用户</small></li>
                                  <li class="bg_lh"><i class="iconfont icon-jinlingyingcaiicon13"></i> <strong>155800</strong> <small>平台销售额</small></li>
                                  <li class="bg_lh"><i class="iconfont icon-shangpinxiaoshou"></i> <strong>12090</strong> <small>商品销售</small></li>
                              </ul>
                          </div>
                      </div>
                  </div>
          </div>
      </div>
      <!--End-Chart-box-->
    </div>

</div>


