---
current: 项目设置
---

<div id="content">
  {{> content-header }}

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="search">
                <input type="text" placeholder="项目类别/项目名称/价格">
                <button type="submit" class="tip-bottom" data-original-title="Search"><i class="icon-search icon-white"></i></button>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <table class="span12">
                    <thead>
                        <tr>
                        <td class="span3" align="center"><i class=" icon-plus-sign pull-left" style="color: #0000ff;font-size: 18px;"></i>项目类别</td>
                        <td class="span3" align="center">项目名称</td>
                        <td class="span3" align="center">时间</td>
                        <td class="span3" align="center">销售价格</td>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select name="" id="" class="span10">
                                    <option value="系统类">系统类</option>
                                    <option value="短信套餐">短信套餐</option>
                                    <option value="外置设备">外置设备</option>
                                </select>
                            </td>
                            <td>
                                <select name="" id="" class="span10"></select>
                            </td>
                            <td>
                                <select name="" id="" class="span10"></select>
                            </td>
                            <td>
                                <input type="text" class="span10"/>
                            </td>
                    </tr>
                        <tr>
                            <td>
                                <select name="" id="" class="span10"></select>
                            </td>
                            <td>
                                <select name="" id="" class="span10"></select>
                            </td>
                            <td>
                                <select name="" id="" class="span10"></select>
                            </td>
                            <td>
                                <input type="text" class="span10"/>
                            </td>
                    </tr>
                    </tbody>
                </table>
                <input type="button" class="btn btn-info pull-right mg-right30" value="保存" />
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"> <span class="icon"> <i class="icon-list"></i> </span>
                        <h5>已设置项目列表</h5>
                    </div>
                    <div class="widget-content">
                        <div>
                            <ul ><!--class="activity-list"-->
                                <li>
                                    <div class="span3" style="color: #0000ff">美发系统</div>
                                    <div class="span3">30天试用版</div>
                                    <div class="span3" style="color: #0000ff">0元</div>
                                    <div class="span3">
                                        <a href="" data-toggle="modal">
                                            <i  class="icon-pencil" style="color: deepskyblue;font-size: 18px;"></i>
                                        </a>
                                        <a href="" data-toggle="modal">
                                            <i  class="icon-remove" style="color: #ff0000;font-size: 18px;"></i>
                                        </a>
                                        <a href="" data-toggle="modal">
                                            <i  class="icon-minus-sign" style="color: #0000ff;font-size: 18px;"></i>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="span3" style="color: #0000ff">美发系统</div>
                                    <div class="span3">30天试用版</div>
                                    <div class="span3" style="color: #0000ff">0元</div>
                                    <div class="span3">
                                        <a href="" data-toggle="modal">
                                            <i  class="icon-pencil" style="color: deepskyblue;font-size: 18px;"></i>
                                        </a>
                                        <a href="" data-toggle="modal">
                                            <i  class="icon-remove" style="color: #ff0000;font-size: 18px;"></i>
                                        </a>
                                        <a href="" data-toggle="modal">
                                            <i  class="icon-minus-sign" style="color: #0000ff;font-size: 18px;"></i>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="span3" style="color: #0000ff">美发系统</div>
                                    <div class="span3">30天试用版</div>
                                    <div class="span3" style="color: #0000ff">0元</div>
                                    <div class="span3">
                                        <a href="" data-toggle="modal">
                                            <i  class="icon-pencil" style="color: deepskyblue;font-size: 18px;"></i>
                                        </a>
                                        <a href="" data-toggle="modal">
                                            <i  class="icon-remove" style="color: #ff0000;font-size: 18px;"></i>
                                        </a>
                                        <a href="" data-toggle="modal">
                                            <i  class="icon-minus-sign" style="color: #0000ff;font-size: 18px;"></i>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="span3" style="color: #0000ff">美发系统</div>
                                    <div class="span3">30天试用版</div>
                                    <div class="span3" style="color: #0000ff">0元</div>
                                    <div class="span3">
                                        <a href="" data-toggle="modal">
                                            <i  class="icon-pencil" style="color: deepskyblue;font-size: 18px;"></i>
                                        </a>
                                        <a href="" data-toggle="modal">
                                            <i  class="icon-remove" style="color: #ff0000;font-size: 18px;"></i>
                                        </a>
                                        <a href="" data-toggle="modal">
                                            <i  class="icon-minus-sign" style="color: #0000ff;font-size: 18px;"></i>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="span3" style="color: #0000ff">美发系统</div>
                                    <div class="span3">30天试用版</div>
                                    <div class="span3" style="color: #0000ff">0元</div>
                                    <div class="span3">
                                        <a href="" data-toggle="modal">
                                            <i  class="icon-pencil" style="color: deepskyblue;font-size: 18px;"></i>
                                        </a>
                                        <a href="" data-toggle="modal">
                                            <i  class="icon-remove" style="color: #ff0000;font-size: 18px;"></i>
                                        </a>
                                        <a href="" data-toggle="modal">
                                            <i  class="icon-minus-sign" style="color: #0000ff;font-size: 18px;"></i>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="span3" style="color: #0000ff">美发系统</div>
                                    <div class="span3">30天试用版</div>
                                    <div class="span3" style="color: #0000ff">0元</div>
                                    <div class="span3">
                                        <a href="" data-toggle="modal">
                                            <i  class="icon-pencil" style="color: deepskyblue;font-size: 18px;"></i>
                                        </a>
                                        <a href="" data-toggle="modal">
                                            <i  class="icon-remove" style="color: #ff0000;font-size: 18px;"></i>
                                        </a>
                                        <a href="" data-toggle="modal">
                                            <i  class="icon-minus-sign" style="color: #0000ff;font-size: 18px;"></i>
                                        </a>
                                    </div>
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pagination alternate pull-right mg-right30">
                <ul>
                    <li class="disabled"><a href="#"><<<</a></li>
                    <li class="active"> <a href="#">1</a> </li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">>>></a></li>
                </ul>
            </div>
        </div>

    </div>
</div>


