---
tip-bottom: 开户注册
current: 修改用户
---
<div id="content">

    {{> content-header }}

    <div class="container-fluid">
        <div class="row-fluid">
             <div class="span12">
                  <div class="widget-box">
                      <div class="widget-title"><span class="icon"><i class="icon-th"></i></span>
                          <h5>注册用户表</h5>
                      </div>

                      <div class="reminder">仅显示三个月内新注册用户</div>
                      <!--bootstrap table-->
                      <!--data-url="http://mikepenz.com/jsfiddle/" data-show-refresh="true"-->
                      <table data-toggle="table"
                                 data-url="http://mikepenz.com/jsfiddle/"
                                 data-search="true"
                                 data-pagination="true"
                                 checkboxHeader="true"
                                 data-side-pagination="server"
                                 data-page-list="[5, 10, 20, 50, 100, 200]"
                                 data-height="490" id="modUserTable"
                                 data-toolbar="#toolbar">
                              <thead>
                              <tr>
                                  <!--<th data-field="state" data-checkbox="true"></th>-->
                                  <th data-field="id" data-sortable="true">注册时间</th>
                                  <th data-field="name">机构识别码</th>
                                  <th data-field="price" >机构属性</th>
                                  <th data-field="price" >公司名称</th>
                                  <th data-field="price" >品牌名称</th>
                                  <th data-field="price" >负责人</th>
                                  <th data-field="price" >主账号</th>
                                  <th data-field="price" >到期时间</th>
                                  <th data-field="price" >付费状态</th>
                                  <th data-field="operate" data-formatter="pencil" data-events="operateEvents">修改</th><!--operateFormatter-->
                              </tr>
                              </thead>
                          </table>
                  </div>
             </div>
        </div>
    </div>
</div>

