<!-- 客情资料Modal -->
<div id="clientInfor" class="modal hide">
    <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button">×</button>
        <h3>客情资料</h3>
    </div>
    <div class="modal-body nopadding">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box" style="margin: 0px;">

                    <div class="widget-content nopadding">
                        <form action="#" class="form-horizontal">
                            <!--<div class="control-group">
                                <div class="span6">
                                    <label for="normal" class="control-label">选择版本: </label>
                                    <div class="controls">
                                        <select name="" id="" class="span11">
                                            <option value="美发普及版">美发普及版</option>
                                            <option value="美发专业版">美发专业版</option>
                                            <option value="美容专业版">美容专业版</option>
                                            <option value="美甲专业版">美甲专业版</option>
                                            <option value="美容美发专业版">美容美发专业版</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="span6">
                                    <label for="normal" class="control-label">客户属性: </label>
                                    <div class="controls">
                                        <select name="" id="" class="span11">
                                            <option value="单店">单店</option>
                                            <option value="连锁店">连锁店</option>
                                        </select>
                                    </div>
                                </div>
                            </div>-->

                            <div class="control-group">
                                <label for="normal" class="control-label">公司名称: </label>
                                <div class="controls">
                                    <input type="text" class="span11"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="normal" class="control-label">品牌名称: </label>
                                <div class="controls">
                                    <input type="text" class="span11"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="normal" class="control-label">店铺名称: </label>
                                <div class="controls">
                                    <input type="text" class="span11"/>
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="span6">
                                    <label for="normal" class="control-label">姓名: </label>
                                    <div class="controls">
                                        <input class="span11" type="text"/>
                                    </div>
                                </div>
                                <div class="span6">
                                    <label for="normal" class="control-label">性别: </label>
                                    <div class="controls">
                                        <select name="" id="" class="span11">
                                            <option value="男">男</option>
                                            <option value="女">女</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="span6">
                                    <label for="normal" class="control-label">职位: </label>
                                    <div class="controls">
                                        <input class="span11" type="text"/>
                                    </div>
                                </div>
                                <div class="span6">
                                    <label for="normal" class="control-label">生日: </label>
                                    <div class="controls">
                                        <input class="span11" type="date"/>
                                    </div>
                                </div>
                            </div>

                            <div class="control-group">
                                <label for="normal" class="control-label">成立年限: </label>
                                <div class="controls">
                                    <input type="text" class="span11"/>
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="span6">
                                    <label for="normal" class="control-label">现金业绩: </label>
                                    <div class="controls">
                                        <input class="span11" type="text"/>
                                    </div>
                                </div>
                                <div class="span6">
                                    <label for="normal" class="control-label">劳动业绩: </label>
                                    <div class="controls">
                                        <input class="span11" type="text"/>
                                    </div>
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="span6">
                                    <label for="normal" class="control-label">家庭观念: </label>
                                    <div class="controls">
                                        <select name="" id="" class="span11">
                                            <option value="">孝心</option>
                                            <option value="">夫妻情感</option>
                                            <option value="">亲子</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="span6">
                                    <label for="normal" class="control-label">事业观念: </label>
                                    <div class="controls">
                                        <select name="" id="" class="span11">
                                            <option value="">无目标</option>
                                            <option value="">有目标</option>
                                            <option value="">有计划</option>
                                            <option value="">有战略</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="span6">
                                    <label for="normal" class="control-label">客户性格: </label>
                                    <div class="controls">
                                        <select name="" id="" class="span11">
                                            <option value="">活泼型</option>
                                            <option value="">权力型</option>
                                            <option value="">平和型</option>
                                            <option value="">分析型</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="span6">
                                    <label for="normal" class="control-label">客户爱好: </label>
                                    <div class="controls">
                                        <select name="" id="" class="span11">
                                            <option value="">抽烟</option>
                                            <option value="">喝酒</option>
                                            <option value="">喝茶</option>
                                            <option value="">其它</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="span6">
                                    <label for="normal" class="control-label">学习观念: </label>
                                    <div class="controls">
                                        <select name="" id="" class="span11">
                                            <option value="">少量</option>
                                            <option value="">一般</option>
                                            <option value="">积极</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="span6">
                                    <label for="normal" class="control-label">经营观念: </label>
                                    <div class="controls">
                                        <select name="" id="" class="span11">
                                            <option value="">重技术</option>
                                            <option value="">重服务</option>
                                            <option value="">重经营</option>
                                            <option value="">重管理</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="span6">
                                    <label for="normal" class="control-label">互联网理念: </label>
                                    <div class="controls">
                                        <select name="" id="" class="span11">
                                            <option value="">差</option>
                                            <option value="">一般</option>
                                            <option value="">高</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="span6">
                                    <label for="normal" class="control-label">软件重视度: </label>
                                    <div class="controls">
                                        <select name="" id="" class="span11">
                                            <option value="">差</option>
                                            <option value="">一般</option>
                                            <option value="">高</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="span6">
                                    <label for="normal" class="control-label">重视哪方面: </label>
                                    <div class="controls">
                                        <select name="" id="" class="span11">
                                            <option value="">安全性</option>
                                            <option value="">功能性</option>
                                            <option value="">操作性</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="span6">
                                    <label for="normal" class="control-label">系统满意度: </label>
                                    <div class="controls">
                                        <select name="" id="" class="span11">
                                            <option value="">一般</option>
                                            <option value="">高</option>
                                            <option value="">忠诚</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer"> <a data-dismiss="modal" class="btn btn-primary btn-success" href="#">保存</a> <a data-dismiss="modal" class="btn" href="#">取消</a> </div>
</div>


<!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>-->
<!--
<div class="modal fade" id="model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >

</div>
-->


