<!-- 客情资料Modal -->
<div id="clientInfor" class="modal hide">
    <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button">×</button>
        <h3>客情资料</h3>
    </div>
    <div class="modal-body nopadding">
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box" style="margin: 0px;">
                    <div class="widget-content nopadding">
                        <div class="control-group">
                            <lable class="span3">公司名称</lable>
                            <input type="text" class="span9" style="margin-left: 12px"/>
                        </div>

                        <div class="control-group">
                            <lable class="span3">品牌名称</lable>
                            <input type="text" class="span9" style="margin-left: 12px"/>
                        </div>

                        <div class="control-group">
                            <lable class="span3">店铺名称</lable>
                            <input type="text" class="span9" style="margin-left: 12px"/>
                        </div>

                        <div class="control-group">
                            <div class="pull-left span6">
                            <lable class="span3">姓名</lable>
                            <input type="text" class="span8" style="margin-left: 12px"/>
                            </div>
                            <div class="pull-right span6">
                            <lable class="span3">性别</lable>
                            <div class="span8">
                                <select name="" id="" class="span12">
                                    <option value="">男</option>
                                    <option value="">女</option>
                                </select>
                            </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="pull-left span6">
                            <lable class="span3">职位</lable>
                            <input type="text" class="span8" style="margin-left: 12px"/>
                            </div>
                            <div class="pull-right span6">
                            <lable class="span3">生日</lable>
                            <div class="span8">
                                <input type="text" data-date="01-02-2013" data-date-format="dd-mm-yyyy" value="01-02-2013" class="datepicker span11">
                            </div>
                           </div>
                        </div>

                        <div class="control-group">
                            <lable class="span3">成立年限</lable>
                            <input type="text" placeholder="" style="margin: 0 auto;" data-provide="typeahead" data-items="4" data-source="[&quot;Alabama&quot;,&quot;Alaska&quot;,&quot;Arizona&quot;,&quot;Arkansas&quot;,&quot;California&quot;,&quot;Colorado&quot;,&quot;Ahmedabad&quot;,&quot;India&quot;,&quot;Florida&quot;,&quot;Georgia&quot;,&quot;Hawaii&quot;,&quot;Idaho&quot;,&quot;Illinois&quot;,&quot;Indiana&quot;,&quot;Iowa&quot;,&quot;Kansas&quot;,&quot;Kentucky&quot;,&quot;Louisiana&quot;,&quot;Maine&quot;,&quot;Maryland&quot;,&quot;Massachusetts&quot;,&quot;Michigan&quot;,&quot;Minnesota&quot;,&quot;Mississippi&quot;,&quot;Missouri&quot;,&quot;Montana&quot;,&quot;Nebraska&quot;,&quot;Nevada&quot;,&quot;New Hampshire&quot;,&quot;New Jersey&quot;,&quot;New Mexico&quot;,&quot;New York&quot;,&quot;North Dakota&quot;,&quot;North Carolina&quot;,&quot;Ohio&quot;,&quot;Oklahoma&quot;,&quot;Oregon&quot;,&quot;Pennsylvania&quot;,&quot;Rhode Island&quot;,&quot;South Carolina&quot;,&quot;South Dakota&quot;,&quot;Tennessee&quot;,&quot;Texas&quot;,&quot;Utah&quot;,&quot;Vermont&quot;,&quot;Virginia&quot;,&quot;Washington&quot;,&quot;West Virginia&quot;,&quot;Wisconsin&quot;,&quot;Wyoming&quot;]" class="span9">
                        </div>

                        <div class="control-group">
                            <div class="pull-left span6">
                                <lable class="span3">现金业绩</lable>
                                <input type="text" class="span8" style="margin-left: 12px"/>
                            </div>
                            <div class="pull-right span6">
                                <lable class="span3">劳动业绩</lable>
                                <input type="text" class="span8" style="margin-left: 12px"/>
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="pull-left span6">
                                <lable class="span3">客户性格</lable>
                                <select name="" id="" class="span8">
                                    <option value="">活泼型</option>
                                    <option value="">权力型</option>
                                    <option value="">平和型</option>
                                    <option value="">分析型</option>
                                </select>
                            </div>
                            <div class="pull-right span6">
                                <lable class="span3">客户爱好</lable>
                                <select name="" id="" class="span8">
                                    <option value="">抽烟</option>
                                    <option value="">喝酒</option>
                                    <option value="">喝茶</option>
                                    <option value="">其它</option>
                                </select>
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="pull-left span6">
                                <lable class="span3">家庭观念</lable>
                                <select name="" id="" class="span8">
                                    <option value="">孝心</option>
                                    <option value="">夫妻情感</option>
                                    <option value="">亲子</option>
                                </select>
                            </div>
                            <div class="pull-right span6">
                                <lable class="span3">事业观念</lable>
                                <select name="" id="" class="span8">
                                    <option value="">无目标</option>
                                    <option value="">有目标</option>
                                    <option value="">有计划</option>
                                    <option value="">有战略</option>
                                </select>
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="pull-left span6">
                                <lable class="span3">学习观念</lable>
                                <select name="" id="" class="span8">
                                    <option value="">少量</option>
                                    <option value="">一般</option>
                                    <option value="">积极</option>
                                </select>
                            </div>
                            <div class="pull-right span6">
                                <lable class="span3">经营观念</lable>
                                <select name="" id="" class="span8">
                                    <option value="">重技术</option>
                                    <option value="">重服务</option>
                                    <option value="">重经营</option>
                                    <option value="">重管理</option>
                                </select>
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="pull-left span6">
                                <lable class="span3">互联网理念</lable>
                                <select name="" id="" class="span8">
                                    <option value="">差</option>
                                    <option value="">一般</option>
                                    <option value="">高</option>
                                </select>
                            </div>
                            <div class="pull-right span6">
                                <lable class="span3">软件重视度</lable>
                                <select name="" id="" class="span8">
                                    <option value="">差</option>
                                    <option value="">一般</option>
                                    <option value="">高</option>
                                </select>
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="pull-left span6">
                                <lable class="span3">重视哪方面</lable>
                                <select name="" id="" class="span8">
                                    <option value="">安全性</option>
                                    <option value="">功能性</option>
                                    <option value="">操作性</option>
                                </select>
                            </div>
                            <div class="pull-right span6">
                                <lable class="span3">系统满意度</lable>
                                <select name="" id="" class="span8">
                                    <option value="">一般</option>
                                    <option value="">高</option>
                                    <option value="">忠诚</option>
                                </select>
                            </div>
                        </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer"> <a data-dismiss="modal" class="btn btn-primary btn-success" href="#">保存</a> <a data-dismiss="modal" class="btn" href="#">取消</a> </div>
</div>


<!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>-->
<!--
<div class="modal fade" id="model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >

</div>
-->


