<div id="content-header">
    <div id="breadcrumb">
        <a href="index.html" class="tip-bottom" data-original-title="主页">
            <i class="icon-home"></i>首页看板
        </a>
       <!-- <a href="" class="tip-bottom" data-original-title="{{tip-bottom}}">{{tip-bottom}}</a>-->
        <a href="#" class="current">{{current}}</a>
    </div>
</div>
