<!--销售公共部分-->
<div class="quick-actions_homepage">
    <ul class="quick-actions t-menu">
        <li class="c-dblue"> <a href="sales-stat.html">平台销售统计</a> </li>
        <li class="c-yellow"> <a href="version-stat.html">版本销售统计</a></li>
        <li class="c-green"> <a href="reg-stat.html"> 区域销售统计 </a> </li>
        <li class="c-red"> <a href="shop-stat.html"> 商品销售统计 </a> </li>
        <li class="c-lblue"> <a href="year-stat.html">年度汇总统计</a></li>
    </ul>
</div>
<hr>
