<!--sidebar-menu-->
<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i></a>
    <ul class="sidebar-ul">
        <li ><a href="index.html"><i class="icon icon-home"></i> <span> 首页看板</span></a> </li>
        <li class="submenu"> <a href="#"><i class="iconfont icon-xinkaihu"></i> <span>开户注册</span> <span class="icon-sort-down icon-right"></span></a>
            <ul>
                <li class="subline"><a href="user-register.html">新增用户</a></li>
                <li class="subline"><a href="user-modification.html">修改用户</a></li>
            </ul>
        </li>
        <li class="submenu"> <a href="#"><i class="iconfont icon-bianmin"></i> <span>客户管理</span> <span class="icon-sort-down icon-right"></span></a>
            <ul>
                <li><a href="client-search.html">客户查询</a></li>
                <li><a href="client-inter.html">客户互动</a></li>
            </ul>
        </li>
        <li class="submenu"> <a href="#"><i class="iconfont icon-weifenxiaopcjiemianzhuanhuan"></i> <span>销售管理</span> <span class="icon-sort-down icon-right"></span></a>
            <ul>
                <li><a href="form-common.html">Basic Form</a></li>
                <li><a href="form-validation.html">Form with Validation</a></li>
                <li><a href="form-wizard.html">Form with Wizard</a></li>
            </ul>
        </li>
        <li class="submenu"> <a href="#"><i class="iconfont icon-jiaoliupingtai"></i> <span>内部交流</span> <span class="icon-sort-down icon-right"></span></a>
            <ul>
                <li><a href="form-common.html">Basic Form</a></li>
                <li><a href="form-validation.html">Form with Validation</a></li>
                <li><a href="form-wizard.html">Form with Wizard</a></li>
            </ul>
        </li>
        <li><a href="buttons.html"><i class="iconfont icon-xitongshezhi"></i> <span>系统设置</span></a></li>
        <!--<li><a href="interface.html"><i class="icon icon-pencil"></i> <span>Eelements</span></a></li>
        <li class="submenu active"> <a href="#"><i class="icon icon-file"></i> <span>Addons</span> <span class="label label-important">5</span></a>
            <ul>
                <li><a href="index2.html">Dashboard2</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="calendar.html">Calendar</a></li>
                <li><a href="invoice.html">Invoice</a></li>
                <li><a href="chat.html">Chat option</a></li>
            </ul>
        </li>
        <li class="submenu"> <a href="#"><i class="icon icon-info-sign"></i> <span>Error</span> <span class="label label-important">4</span></a>
            <ul>
                <li><a href="error403.html">Error 403</a></li>
                <li><a href="error404.html">Error 404</a></li>
                <li><a href="error405.html">Error 405</a></li>
                <li><a href="error500.html">Error 500</a></li>
            </ul>
        </li>-->
        <li class="content"> <span>全国平台总用户数</span>
            <div class="progress progress-mini progress-danger active progress-striped">
                <div style="width: 10%;" class="bar"></div>
            </div>
            <span class="percent">10%</span>
            <div class="stat">总用户16000个，广东省1600个</div>
        </li>
        <li class="content"> <span>当月新增用户数</span>
            <div class="progress progress-mini active progress-striped">
                <div style="width: 20%;" class="bar"></div>
            </div>
            <span class="percent">20%</span>
            <div class="stat">当月新增用户160个，广东省32个</div>
        </li>
    </ul>
</div>
