<!--Header-part-->
<div id="header">
    <a href="index.html">
        <img src="{{assets}}/app/img/t4.png" class="header-img"/>
        <!--<h6 class="header-h1">智能电务系统管理后台</h6>-->
    </a>
</div>
<!--close-Header-part-->

<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
    <ul class="nav">
        <li  class="dropdown" id="profile-messages" ><a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">账号管理</span><b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="account-data.html"><i class="icon-user"></i> 帐号资料</a></li>
                <li class="divider"></li>
                <li><a href="add-account.html"><i class="icon-check"></i> 新增帐号</a></li>
                <li class="divider"></li>
                <li><a href="change-account"><i class="icon-check"></i> 修改帐号</a></li>
                <li class="divider"></li>
                <li><a href="login.html"><i class="icon-key"></i> 退出</a></li>
            </ul>
        </li>
        <li class="dropdown" id="menu-messages"><a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle"><i class="iconfont icon-gonggao"></i> <span class="text">系统公告</span> <span class="label label-important">5</span> <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a class="sAdd" title="" href="unread-msg.html"><i class="icon-plus"></i> 未阅读公告</a></li>
                <li class="divider"></li>
                <li><a class="sInbox" title="" href="history-msg.html"><i class="icon-envelope"></i> 历史公告</a></li>
                <li class="divider"></li>
            </ul>
        </li>
        <li class=""><a title="" href="login.html"><i class="iconfont icon-tuichuxitong"></i> <span class="text">退出系统</span></a></li>
    </ul>
</div>

