<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper" role="grid">
    <!--<div class="show-linenum">
        <label class="inline-lable">显示</label>
        <select class="select-num span1">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select >
        <label class="inline-lable">行</label>
    </div>
    <div class="table-label">仅显示三个月内新注册用户</div>-->
    <div class="toolbar">
        <a class="toolbar-btn" href="#">
            <span class="icon-refresh"></span>
        </a>
        <a class="toolbar-btn" href="#">
            <span class="icon-plus"></span>
            <span class="text">新建</span>
        </a>
        <a class="toolbar-btn" href="#">
            <span class=" icon-remove"></span>
            <span class="text">删除</span>
        </a>
        <!--<a class="toolbar-btn" href="#">
            <span class="icon icon-stop"></span>
            <span class="text">关机</span>
        </a>-->
        <!--<div class="dropdown btn-disabled">
            <input class="dropdown-toggle" type="text">
            <span class="text">删除</span>
            </a>
        </div>-->
        <!--<div class="toolbar-search " >
            <p class="filter-table">Filter: <input type="search" placeholder="search this table" name="" id="toolbar-searchinput"></p>
            &lt;!&ndash;<p class="filter-table">搜索:
                <input type="search" placeholder="按用户特征搜索" id="toolbar-searchinput">
            </p>&ndash;&gt;
        </div>-->
        <!--<div class="pagination">
            <span class="per-page">每页显示：&nbsp;</span>
            <div class="select-con">
                <select class="dropdown-select" name="limit">
                    <option value="10" selected="">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
        </div>-->
    </div>
</div>
<!--<table class="table table-bordered table-striped data-table with-check">
                              <thead>
                                  <tr>
                                      <th><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" style="opacity: 1;"/></th>
                                      <th>注册时间</th>
                                      <th>机构识别号</th>
                                      <th>机构属性</th>
                                      <th>公司名称</th>
                                      <th>品牌名称</th>
                                      <th>负责人</th>
                                      <th>主账号</th>
                                      <th>到期时间</th>
                                      <th>付费状态</th>
                                      <th>修改</th>
                                  </tr>
                              </thead>
                              <tbody>
                                <tr class="gradeX">
                                    <td><input type="checkbox" style="opacity: 1;"/></td>
                                    <td>2014-05-05</td>
                                    <td class=" ">3333</td>
                                    <td class=" ">单店</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>停用</td>
                                    <td>未付费</td>
                                    <td><a href="user-modification.html"><i class="icon icon-pencil"></i></a></td>
                                </tr>
                                <tr class="gradeA">
                                    <td><input type="checkbox" style="opacity: 1;"/></td>
                                    <td>2014-05-05</td>
                                    <td >20000063</td>
                                    <td >单店</td>
                                    <td ></td>
                                    <td ></td>
                                    <td ></td>
                                    <td ></td>
                                    <td >停用</td>
                                    <td >未付费</td>
                                    <td ><a href="user-modification.html"><i class="icon icon-pencil"></i></a></td>
                                </tr>
                                <tr class="gradeA">
                                    <td><input type="checkbox" style="opacity: 1;"/></td>
                                    <td >2014-05-05</td>
                                    <td class=" ">20000063</td>
                                    <td class=" ">单店</td>
                                    <td ></td>
                                    <td ></td>
                                    <td ></td>
                                    <td ></td>
                                    <td >停用</td>
                                    <td >未付费</td>
                                    <td ><a href="user-modification.html"><i class="icon icon-pencil"></i></a></td>
                                </tr>
                                <tr class="gradeA">
                                    <td><input type="checkbox" style="opacity: 1;" /></td>
                                    <td >2014-05-05</td>
                                    <td class=" ">20000063</td>
                                    <td class=" ">单店</td>
                                    <td ></td>
                                    <td ></td>
                                    <td ></td>
                                    <td ></td>
                                    <td >停用</td>
                                    <td >未付费</td>
                                    <td ><a href="user-modification.html"><i class="icon icon-pencil"></i></a></td>
                                </tr>
                                <tr class="gradeA">
                                    <td><input type="checkbox" style="opacity: 1;"/></td>
                                    <td >2014-05-05</td>
                                    <td class=" ">20000063</td>
                                    <td class=" ">单店</td>
                                    <td ></td>
                                    <td ></td>
                                    <td ></td>
                                    <td ></td>
                                    <td >停用</td>
                                    <td >未付费</td>
                                    <td ><a href="user-modification.html"><i class="icon icon-pencil"></i></a></td>
                                </tr>
                                <tr class="gradeA">
                                    <td><input type="checkbox" style="opacity: 1;"/></td>
                                    <td >2014-05-05</td>
                                    <td class=" ">20000063</td>
                                    <td class=" ">单店</td>
                                    <td ></td>
                                    <td ></td>
                                    <td ></td>
                                    <td ></td>
                                    <td >停用</td>
                                    <td >未付费</td>
                                    <td ><a href="user-modification.html"><i class="icon icon-pencil"></i></a></td>
                                </tr>
                                <tr class="gradeA">
                                    <td><input type="checkbox" style="opacity: 1;"/></td>
                                    <td >2014-05-05</td>
                                    <td class=" ">20000063</td>
                                    <td class=" ">单店</td>
                                    <td ></td>
                                    <td ></td>
                                    <td ></td>
                                    <td ></td>
                                    <td >停用</td>
                                    <td >未付费</td>
                                    <td ><a href="user-modification.html"><i class="icon icon-pencil"></i></a></td>
                                </tr>
                                <tr class="gradeA">
                                    <td><input type="checkbox" style="opacity: 1;"/></td>
                                    <td >2014-05-05</td>
                                    <td class=" ">20000063</td>
                                    <td class=" ">单店</td>
                                    <td ></td>
                                    <td ></td>
                                    <td ></td>
                                    <td ></td>
                                    <td >停用</td>
                                    <td >未付费</td>
                                    <td ><a href="user-modification.html"><i class="icon icon-pencil"></i></a></td>
                                </tr>
                              </tbody>
                          </table>-->
